.hello-block {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	position: relative;
	z-index: 5;
}

.text {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	position: relative;
	z-index: 15;
}

.about {
	font-family: 'Circular Std', sans-serif;
	font-weight: 450;
	font-size: 72px;
	line-height: 80px;
	letter-spacing: -0.02em;
	color: #000;

	& span {
		font-size: 72px;
		line-height: 80px;
		font-weight: 700;
	}
}

.info {
	font-family: 'Circular Std', sans-serif;
	font-weight: 450;
	font-size: 36px;
	line-height: 46px;
	color: #654E6C;
	margin-top: 30px;
}

.btn-join {
	max-width: 209px;
	max-height: 65px;
	background: #000000;
	border-radius: 70px;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Cera-Pro", sans-serif;
	font-weight: 900;
	font-size: 20px;
	line-height: 25px;
	color: white;
	padding: 20px 47px;
	margin-top: 70px;
	transition: all 0.25s ease-out;

	&:hover {
		position: relative;
		top: -3px;
		box-shadow: -6px 14px 12px 2px rgba(90, 90, 90, .12);
	}
}

.girl {
	background-image: url('asset/girl.webp');
	width: 1200px;
	height: 913px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	z-index: 15;
}