@font-face {
	font-family: 'Cera-Pro';
	src: url('fonts/CeraProRegular.woff2') format('woff2'),
	url('fonts/CeraProRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Circular Std';
	src: url('fonts/CircularStd.woff2') format('woff2'),
	url('fonts/CircularStd.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Circular Std';
	src: url('fonts/CircularStd-Book.woff2') format('woff2'),
	url('fonts/CircularStd-Book.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}