.sidebar {
	height: 100vh;
	width: 100vw;
	padding: 100px;
	position: fixed;
	//display: none;
	top: 0;
	right: -100vw;
	//display: none;
	transition: right 0.7s;
	background: radial-gradient(96.6% 143.65% at 3.4% 120.31%, #D59372 1.38%, #FD8272 15.88%, #6D1464 56.15%, #0D005C 71.73%, #1E0149 81.53%, #040507 99.86%)
}

.sidebar-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo-sidebar {
	width: 76px;
	height: 76px;
	background-image: url("asset/LOGO.webp");
	background-size: contain;
	background-repeat: no-repeat;
}

.menu-close-btn {
	width: 35px;
	height: 35px;
	background-image: url("asset/close.svg");
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

.open {
	right: 0;
}



@keyframes opened {
	0% {
		width: 0;
	}
	100% {
		width: 50vh;
	}
}

@keyframes close {
	0% {
		width: 50vw;
	}
	100% {
		width: 0;
	}
}