@import './styles/canvas.scss';
@import './styles/layout.scss';
@import './styles/preview-block.scss';
@import './styles/fonts.scss';
@import './styles/first-section.scss';
@import './styles/scroll-btn.scss';
@import './styles/coub.scss';
@import "./styles/preference.scss";
@import "./styles/sidebar.scss";
@import "./styles/cards.scss";

* {
	box-sizing: border-box;
	z-index: 10;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: linear-gradient(130deg, rgba(251,248,251,1) 0%, rgba(198,172,239,1) 50%, rgba(164,219,251,1) 99%);
}

h1 {
	font-size: 77px;
	margin: 0;
}

canvas {
	z-index: 1;
}